.about{
    
    text-align: center;
    h2{
        padding-top: 50px;
        margin-bottom: 20px;
    }
    .p-about{
        margin: 0 50px;
        padding: 20px 0;
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
    }
    .about__grid{
        margin: 50px 20px 50px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        align-items: center;
        div{
            border: 1px solid $primary;
            box-shadow: 0px 8px 40px 
            rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            padding: 20px;
            p{
                margin: 20px;
                margin-bottom: 40px;
            }
        }
    }
}