$primary:#D6B369;

.header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: rgba(0, 0, 0, 0.7);
    .logo{
        cursor: pointer;
        img{
            width: 150px;
        }
    }
    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        a{
            margin-left: 10px;
            margin-right: 10px;
            color: $primary;
        }
    }
    .social_network{
        cursor: pointer;
        img{
            padding-left: 10px;
        }
    }
}