$primary:#D6B369;

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: sans-serif;
    height: 90px;
    .header__inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(0,0,0,0.2);
        .logo{
            img{
                width: 150px;
            }
        }
        .links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                margin-left: 10px;
                margin-right: 10px;
                color: $primary;
            }
        }
        .social_network{
            img{
                padding-left: 10px;
                padding-right: 20px;
            }
        }
    }
}