@media only screen and (max-width: 800px){
    .about{
        .about__grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            align-items: center;
        }
        .p-about{
            padding: 0;
        }
    }
    .hero{
        img{
            width: 70%;
            height: 70%;
        }
    }
    .services{ 
        .services__inner{
            .services__grid{
                display: grid;
                grid-template-columns: 1fr;
                margin: 10px;
                // BIG PROBLEM
                
                .serv__item{
                    .serv-img{
                        img{
                            color: #000;
                        }
                    }
                }
            }
        }
        .slider_btn1,
        .slider_btn2{
            display: none;
        }
    }

    .partners{
        .partners_grid{
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

//show me бургер
@media only screen and (max-width: 810px){
    .header{
        padding: 0;
        .links{
            display: none;
        }
        .socials{
            display: none;
        }
        .menu-btn{
            display: block;
        }
        .inMenu{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}


@media only screen and (max-width: 768px){
    .contacts{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }
}