@media only screen and (max-width: 768px){
    .about__grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: center;
    }
    .hero{
        img{
            width: 100%;
            height: 100%;
        }
    }
    .services__grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .partners_grid{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }
}





@media only screen and (max-width: 840px){
    .contacts{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }
}