@media only screen and (max-width: 930px){
    .about{
        .about__grid{
            display: grid;
            grid-template-columns: 1fr;
            margin: 10px;
            gap: 10px;
            align-items: center;
            div{
                height: auto;
                p{
                    padding: 0px;
                }
            }
        }
        .p-about{
            padding: 0;
            padding-bottom: 20px;
        }
    }
    .hero{
        img{
            width: 70%;
            height: 70%;
        }
    }
    .services{ 
        .services__inner{
            .services__grid{
                display: grid;
                grid-template-columns: 1fr;
                margin: 0px;                
                .serv__item{            
                    margin: 10px;
                    gap: 10px;
                    .serv-img{
                        img{
                            color: #000;
                        }
                    }
                }
            }
        }
        .slider_btn1,
        .slider_btn2{
            display: none;
        }
    }

    .partners{
        .partners_grid{
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    .contacts{
        .con_item{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 10px;
            height: auto;
            .con_img{
                margin-bottom: 10px;
                margin-right: 0;
            }
        }
    }
    .modal {
        .modal-content {
            .inModal {
                .inModal-grid {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    .contacts{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }
}

//show me бургер
@media only screen and (max-width: 810px){
    .header{
        padding: 0;
        .links{
            display: none;
        }
        .menu-btn{
            display: block;
        }
        .socials{
            display: none;
        }
        .inMenu{
            display: flex;
            align-items: center;
            max-width: 310px;
            margin: 0 auto;
            justify-content: space-around;
        }
    }
}