.modal{
    //main modal
    display: none;
    position: fixed;
    left: 0; 
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, .4);
    .modal-content{
        overflow-y: auto;
        height: 90%;
        display: block;
        background: #FFFFFF;
        padding: 20px;
        border: 1px solid $primary;
        z-index: 9999;
        width: 80%;
        border-radius: 14px;
        margin: 5% auto;
        margin-bottom: 20%;
        .modal-inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            position: 'relative';

            .modal-title{
                font-size: 24px;
                justify-self: center;
                font-weight: bold;
                text-align: center;
            }
            .close-modal-window{
                color: #aaa;
                font-size: 40px;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .inModal{
            .inModal-grid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-content: space-between;
                .inModal-info{
                    padding: 10px;
                }
                .inmodal-img{
                    img{
                        width: 100%;
                        margin-bottom: 10px;
                        border-radius: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}