$primary:#D6B369;

@import "header";
@import "intro";
@import "hero";
@import "about";
@import "services";
@import "modal";
@import "partners";
@import "contacts";
@import "media";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
a{
    text-decoration: none;
    font-size: 20px;
}
p{
    font-size: 20px;
    line-height: 30px;
}
.container{
    margin: auto;
    width: 100%;
}

.footer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}